ztw_zjitf/code/cmp/src/public/nc/vo/ztwzj/sapitf/bill/xml/BankReceiptInfoList.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BankReceiptQryRet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SystemInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="success"/>
              <xs:element type="xs:string" name="errcode"/>
              <xs:element type="xs:string" name="message"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BankReceiptList">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Count"/>
              <xs:element type="xs:string" name="TotalDebit"/>
              <xs:element type="xs:string" name="TotalCredit"/>
              <xs:element name="BankReceiptInfo" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="BUDAT"/>
                    <xs:element type="xs:string" name="ZHB_BANMS"/>
                    <xs:element type="xs:string" name="ZHB_BANKN"/>
                    <xs:element type="xs:string" name="BUKRS"/>
                    <xs:element type="xs:string" name="SHKZG"/>
                    <xs:element type="xs:string" name="WRBTR"/>
                    <xs:element type="xs:string" name="UNITN"/>
                    <xs:element type="xs:string" name="EXNUM"/>
                    <xs:element type="xs:string" name="USEAGE"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>