ztw_zjitf/code/cmp/src/public/nc/vo/ztwzj/sapitf/bill/xml/BankReceiptQryPara.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BankReceiptQryPara">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="BUKRS"></xs:element>
        <xs:element type="xs:string" name="ZHB_BANKN"/>
        <xs:element type="xs:string" name="BUMON"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>