ztw_zjitf/code/cmp/src/public/nc/vo/ztwzj/sapitf/bill/xml/RecvBillQryPara.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RecvBillQryPara">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="BUKRS"></xs:element>
        <xs:element name="ZSKRQS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ZSKRQ" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="low" use="optional"/>
                      <xs:attribute type="xs:string" name="high" use="optional"/>
                      <xs:attribute type="xs:string" name="sign" use="optional"/>
                      <xs:attribute type="xs:string" name="option" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RECEIVE_NUMS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RECEIVE_NUM" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="low" use="optional"/>
                      <xs:attribute type="xs:string" name="high" use="optional"/>
                      <xs:attribute type="xs:string" name="sign" use="optional"/>
                      <xs:attribute type="xs:string" name="option" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="KUNNRS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="KUNNR" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="low" use="optional"/>
                      <xs:attribute type="xs:string" name="high" use="optional"/>
                      <xs:attribute type="xs:string" name="sign" use="optional"/>
                      <xs:attribute type="xs:string" name="option" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>