ztw_zjitf/code/cmp/src/public/nc/vo/ztwzj/sapitf/bill/xml/RecvBillSPFlag.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RecvBillSPFlag">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="BUKRS">
        </xs:element>
        <xs:element name="Item">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="RECBID" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="STATUS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>