ztw_zjitf/code/cmp/src/public/nc/vo/ztwzj/sapitf/voucher/xml/BillQryPara.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BillQryPara">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="BUSITYPE"/>
        <xs:element type="xs:string" name="BUKRS"/>
        <xs:element type="xs:string" name="BUDATS"/>
        <xs:element type="xs:string" name="BUDATE"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>