ztw_zjitf/code/public/nc/itf/ztwzj/sapitf/IWS_NC_SAPVoucherQueryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IWS_NC_SAPVoucherQueryServiceService" targetNamespace="http://sapitf.ztwzj.itf.nc/IWS_NC_SAPVoucherQueryService"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sapitf.ztwzj.itf.nc/IWS_NC_SAPVoucherQueryService"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:documentation source="eip_version">63</wsdl:documentation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:tns="http://sapitf.ztwzj.itf.nc/IWS_NC_SAPVoucherQueryService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://sapitf.ztwzj.itf.nc/IWS_NC_SAPVoucherQueryService">
			<xsd:annotation>
				<xsd:documentation source="eip_version">63</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="qryVoucherBillInfo" type="tns:qryVoucherBillInfo"/>
			<xsd:complexType name="qryVoucherBillInfo">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="qryVoucherBillInfoResponse" type="tns:qryVoucherBillInfoResponse"/>
			<xsd:complexType name="qryVoucherBillInfoResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="return" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="pushVoucherResultInfo" type="tns:pushVoucherResultInfo"/>
			<xsd:complexType name="pushVoucherResultInfo">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="pushVoucherResultInfoResponse" type="tns:pushVoucherResultInfoResponse"/>
			<xsd:complexType name="pushVoucherResultInfoResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="return" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="qryVoucherBillInfo">
		<wsdl:part name="parameters" element="tns:qryVoucherBillInfo">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="qryVoucherBillInfoResponse">
		<wsdl:part name="parameters" element="tns:qryVoucherBillInfoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="pushVoucherResultInfoResponse">
		<wsdl:part name="parameters" element="tns:pushVoucherResultInfoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="pushVoucherResultInfo">
		<wsdl:part name="parameters" element="tns:pushVoucherResultInfo">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="IWS_NC_SAPVoucherQueryServicePortType">
		<wsdl:documentation>
			<annotation name="deprecated">false</annotation>
			<annotation name="level">Platform</annotation>
			<annotation name="version">1.0.0</annotation>
		</wsdl:documentation>
		<wsdl:operation name="qryVoucherBillInfo">
			<wsdl:input name="qryVoucherBillInfo" message="tns:qryVoucherBillInfo">
			</wsdl:input>
			<wsdl:output name="qryVoucherBillInfoResponse" message="tns:qryVoucherBillInfoResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="pushVoucherResultInfo">
			<wsdl:input name="pushVoucherResultInfo" message="tns:pushVoucherResultInfo">
			</wsdl:input>
			<wsdl:output name="pushVoucherResultInfoResponse" message="tns:pushVoucherResultInfoResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="IWS_NC_SAPVoucherQueryServiceServiceSoapBinding" type="tns:IWS_NC_SAPVoucherQueryServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="qryVoucherBillInfo">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="qryVoucherBillInfo">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="qryVoucherBillInfoResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="pushVoucherResultInfo">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="pushVoucherResultInfo">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="pushVoucherResultInfoResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IWS_NC_SAPVoucherQueryService">
		<wsdl:port name="IWS_NC_SAPVoucherQueryServicePort" binding="tns:IWS_NC_SAPVoucherQueryServiceServiceSoapBinding">
			<soap:address location="http://localhost:9090/IWS_NC_SAPVoucherQueryServicePort"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
